/* src/components/showreel/showreel.css */

.showreel {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    text-align: center;
    height: 100vh;
}

.showreel h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.showreel video {
    width: 80%;
    max-width: 800px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
